@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-green: #6bec67;
  --gray-500: #dcdcdc;
  --gray-200: #fafafa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }

  .ant-upload.ant-upload-drag .ant-upload-text,
  .ant-upload.ant-upload-drag .ant-upload-hint {
    color: var(--foreground) !important;
  }

}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Helvetica, Arial, sans-serif;
}